html {
  margin: 0;
  box-sizing: border-box;
}

/*****Heading******/
.heading {
}

.homepage {
  background-color: #ffe277;
  padding: 7% 15% 9%;
  text-align: center;
}

.maria-img {
  max-width: 300px;
  max-height: 600px;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin: 70px;
}

.buttons {
  margin: 3% 2%;
  color: #3f3f44 !important;
  text-decoration: none !important;
}

/***Ако искаш да смениш цвета на текста в бутона трябва да се таргетира самия линк 'а' а не бутона, както горе показано - не работи. If you want to change the text color in the btn target the link (the text) not the button; with the button it wont work;****/

a {
  color: #3f3f44;
  text-decoration: none;
}

a:hover {
  color: #ffe277;
  text-decoration: none;
}

/**Pricing**/

#pricing {
  margin: 0;
  padding: 0;
  background-color: #3f3f44;
}

.prices {
  text-align: center;
  margin: 0 auto;
  padding: 5% 15%;
}

.price-heading {
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
}

/**Portfolio**/

#portfolio {
  background-color: #ffe277;
  width: auto;
}

.vertical {
  text-align: center;
  align-items: center;
  margin: 7% 15%;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.horizontal {
  align-items: center;
  margin: 7% 15%;
  padding: 0;
  border: 0;
}

.portfolio-heading {
  color: #3f3f44;
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
  padding-bottom: 20px;
}

/**Contacts**/

#contacts {
  height: 600px;
  background-color: #3f3f44;
  color: khaki;
  display: grid;
  grid-template-columns: 50% 50%;
}

.inputBox {
  margin: 90px 200px;
}

.contactForm {
  display: grid;
  grid-template-columns: 100%;
}

/**Email, Phone number and Social Media**/

.emailAndPhoneNumber {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 90px 0;
  color: #3f3f44;
  text-align: center;
}

.rightContactDiv {
  background-color: white;
}

.socialMedia {
  text-align: center;
  color: #3f3f44;
  padding: 40px;
}

.fa {
  margin-top: 5px;
  text-decoration: none;
  color: #f8f3eb;
  padding: 20px;
}

.fa:hover {
  color: #ffe277;
}

/***@media**/

@media only screen and (max-width: 1000px) {

  .horizontal {
    margin: auto;
    padding: auto;
    border: 0;
  }

    #contacts {
      height: auto;
      display: grid;
      grid-template-columns: 100%;
      background-color: #3f3f44;
      color: white;
    }


  .inputBox {
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    padding: 10px;
    margin: 0;
  }

.emailAndPhoneNumber {
  display: grid;
  grid-template-columns: 100%;
  padding: 90px 0;
  color: #3f3f44;
  text-align: center;
}
.email {
  padding-bottom: 25px;
}


}
